In [102]:
import pandas as pd
import numpy as np

In [81]:
df = pd.read_csv('./lovoo_data.csv')

In [82]:
df.columns

Index(['gender', 'genderLooking', 'age', 'name', 'counts_details',
       'counts_pictures', 'counts_profileVisits', 'counts_kisses',
       'counts_fans', 'counts_g', 'flirtInterests_chat',
       'flirtInterests_friends', 'flirtInterests_date', 'country', 'city',
       'location', 'distance', 'isFlirtstar', 'isHighlighted', 'isInfluencer',
       'isMobile', 'isNew', 'isOnline', 'isVip', 'lang_count', 'lang_fr',
       'lang_en', 'lang_de', 'lang_it', 'lang_es', 'lang_pt', 'verified',
       'shareProfileEnabled', 'lastOnlineDate', 'lastOnlineTime', 'birthd',
       'crypt', 'freetext', 'whazzup', 'userId', 'pictureId',
       'isSystemProfile'],
      dtype='object')

In [83]:
df.head()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,userId,pictureId,isSystemProfile
0,F,M,25,daeni,1.00,4,8279,239,0,3,...,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22,italiana 92,0.85,5,663,13,0,0,...,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21,Lauraaa,0.00,4,1369,88,0,2,...,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,...,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21,schaessie {3,0.15,12,35262,1413,9,12,...,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN

In [84]:
df.isna().sum()

gender                       0
genderLooking                0
age                          0
name                         0
counts_details               0
counts_pictures              0
counts_profileVisits         0
counts_kisses                0
counts_fans                  0
counts_g                     0
flirtInterests_chat          0
flirtInterests_friends       0
flirtInterests_date          0
country                      0
city                       286
location                    13
distance                    46
isFlirtstar                  0
isHighlighted                0
isInfluencer                 0
isMobile                     0
isNew                        0
isOnline                     0
isVip                        0
lang_count                   0
lang_fr                      0
lang_en                      0
lang_de                      0
lang_it                      0
lang_es                      0
lang_pt                      0
verified                     0
shareProfileEnabled          0
lastOnlineDate               1
lastOnlineTime               1
birthd                       0
crypt                     3946
freetext                  3879
whazzup                   1593
userId                       0
pictureId                   91
isSystemProfile           3990
dtype: int64

In [85]:
df.drop(['gender', 'counts_details', 'counts_g', 'distance', 'isFlirtstar', 'isInfluencer','birthd','crypt', 'freetext', 'isSystemProfile'], inplace=True, axis=1)

In [86]:
df

,genderLooking,age,name,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,...,lang_it,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,whazzup,userId,pictureId
0,M,25,daeni,4,8279,239,0,True,True,True,...,False,False,False,0,1,2015-04-25T20:43:26Z,1.429995e+09,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575
1,M,22,italiana 92,5,663,13,0,True,True,True,...,True,False,False,0,1,2015-04-26T09:19:35Z,1.430040e+09,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82
2,M,21,Lauraaa,4,1369,88,0,False,False,True,...,False,False,False,0,1,2015-04-06T14:24:07Z,1.428330e+09,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674
3,none,20,Qqkwmdowlo,3,22187,1015,2,True,True,False,...,False,False,False,0,1,2015-04-07T11:21:01Z,1.428406e+09,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735
4,M,21,schaessie {3,12,35262,1413,9,True,False,False,...,False,False,False,0,1,2015-04-06T14:25:20Z,1.428330e+09,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3987,M,22,Ser**a,6,1003,98,0,False,False,True,...,False,False,False,0,1,2015-04-05T07:13:49Z,1.428218e+09,Fiesta and sport,CRYu9vQnJ8lHU2pVpimKJGIyTHqR73rAu8hg21rtn340Ys...,405009d5e3983c4cd863ae43fd6356a0
3988,M,24,Mon**a,7,6890,563,0,False,False,False,...,True,False,False,1,1,2015-04-19T11:00:59Z,1.429441e+09,"tous des crÃ©atures de Dieu, y'a pas de VIP!!!",CRYuikFTcdFDsGDJugu3PyvSonM1LYwyviJXvZBUayBMgI...,7e0ddbdb1bd293c96d4a5ec5d0466923
3989,M,20,Fa**y,4,1157,52,1,False,True,False,...,False,False,False,0,1,2015-04-19T08:37:52Z,1.429433e+09,NaN,CRYv9Qg5MTSHaqrTK2CMe9cPRNACAFdYDi7BEgoQTyljzz...,768ddd66fd1df8a05c2f27505eb1c710
3990,M,20,Fa**y,4,1157,52,1,False,True,False,...,False,False,False,0,1,2015-04-19T08:37:52Z,1.429433e+09,NaN,CRYwD9ZmbjDXJu8li2DPXI0UseBJt2lovQBWnbKcGDVVcs...,768ddd66fd1df8a05c2f27505eb1c710
3991,M,20,Fa**y,4,1157,52,1,False,True,False,...,False,False,False,0,1,2015-04-19T08:37:52Z,1.429433e+09,NaN,CRYy3Jyp0eCGRSc1WeQQOIYKh3KP6JnmWUeJRLnFXhLt5r...,768ddd66fd1df8a05c2f27505eb1c710

In [87]:
df["genderLooking"].replace({"none": "both"}, inplace=True)

In [88]:
df["genderLooking"].replace({"both": "B"}, inplace=True)

In [90]:
df.drop_duplicates(subset=['userId'],inplace=True)

In [92]:
df.drop_duplicates(subset=['pictureId'],inplace=True)

In [112]:
df['Conversion Rate'] = df['counts_kisses']/df['counts_profileVisits']*100

In [113]:
df

,genderLooking,age,name,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,...,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,whazzup,userId,pictureId,Conversion Rate,place
0,M,25,daeni,4,8279,239,0,True,True,True,...,False,0,1,2015-04-25T20:43:26Z,1.429995e+09,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,2.886822,Rothenburg
1,M,22,italiana 92,5,663,13,0,True,True,True,...,False,0,1,2015-04-26T09:19:35Z,1.430040e+09,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,1.960784,Sissach
2,M,21,Lauraaa,4,1369,88,0,False,False,True,...,False,0,1,2015-04-06T14:24:07Z,1.428330e+09,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,6.428050,BÃ¢le
3,B,20,Qqkwmdowlo,3,22187,1015,2,True,True,False,...,False,0,1,2015-04-07T11:21:01Z,1.428406e+09,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,4.574751,MontrÃ©al
4,M,21,schaessie {3,12,35262,1413,9,True,False,False,...,False,0,1,2015-04-06T14:25:20Z,1.428330e+09,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,4.007147,Rastatt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3960,M,20,ja**i,19,9760,359,1,True,True,True,...,False,0,1,2015-04-26T12:45:36Z,1.430052e+09,Fuck Fame ðŸ”¥,CRYKMeFC4NTG641GN+wrkszgUSS8aHZ8YZQYAxyIUJ2IHv...,e05ec5709ac69271411c0a10a2591e72,3.678279,Bern
3970,M,26,So**a,18,8331,650,0,True,False,False,...,False,0,1,2015-04-19T10:57:58Z,1.429441e+09,NaN,CRYXj7mIkXaFHnZQydGTAJrGNQdgf8TsrlfQwzyDGvsP30...,2911dd4bf0b7bb147bf02d138deac91a,7.802185,Hohenems
3972,M,21,`Ca***.,5,6613,132,0,True,True,True,...,False,0,1,2015-04-26T16:41:01Z,1.430066e+09,snap: misscassy001. ...,CRYZcn9t2PBykkNtxDcS59y2suJEIWD7npE+8xUW27Md03...,beb2d6f1aad73d898044ac378ca68e39,1.996068,MÃ¢con
3984,M,26,So**a,20,6684,555,0,True,False,False,...,False,0,1,2015-04-08T15:19:13Z,1.428506e+09,NaN,CRYr+t+hkDQibq+L1C6+AmBDP7NfrpNO9Pct1OZKwiimWq...,d1fff0dd66910a3e4af0bb8d2fb418ad,8.303411,Hohenems
3986,M,23,Eni**n,8,8702,142,0,True,True,True,...,False,0,0,2015-04-06T15:47:15Z,1.428335e+09,ruhig shriebeðŸ˜‰. bissÃ¤ ni,CRYsH4q+r4fCkC8+leJqDdJQtbUNQGCyqLx36aDsEzC5b9...,e532a6060fe4e5902c66086d905a9d53,1.631809,Thun

In [104]:
df['place'] = np.where(df.city.isnull(),df.location,df.city)

In [114]:
df['verified'].value_counts()

0    3003
1     874
Name: verified, dtype: int64

In [111]:
#podriamos eliminar los que tienen 18, 28 y 27?

df['age'].value_counts()

22    700
21    586
23    584
19    521
20    517
24    512
25    345
26    109
18      1
28      1
27      1
Name: age, dtype: int64

In [182]:
#eliminar algunos country

df['country'].value_counts()

CH    1612
DE    1424
FR     637
IT     136
AT      17
BE       7
ES       6
LU       5
BA       3
US       3
BR       2
RU       2
GB       2
CA       2
NL       2
AU       2
ID       1
LR       1
ET       1
LI       1
HU       1
CF       1
CZ       1
TR       1
RO       1
PH       1
SC       1
JM       1
AR       1
UA       1
IN       1
Name: country, dtype: int64

In [143]:
#eliminarÃ­a esta porque tiene una conversiÃ³n de 200

df[df['Conversion Rate'] == 200]

,genderLooking,age,name,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,...,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,whazzup,userId,pictureId,Conversion Rate,place
3432,M,19,ShaSha,3,1,2,0,True,True,True,...,False,0,1,2015-04-06T14:30:50Z,1.428331e+09,NaN,55228488c66da1a1598b4d89,552289a5066ea162718b4cbf,200.0,Viviers-du-Lac

In [138]:
df['Conversion Rate'].mean()

4.1286392793257365

In [ ]:
#select con lista desplegable por aÃ±os, pais, genderlooking
#y que se vean las principales variables

# Encontrar el perfil ideal

In [153]:
#grafico con el nÃºmero de fotos y la media de conversiÃ³n

df[df['counts_pictures'] > 20]['Conversion Rate'].mean()

4.021157445923829

In [159]:
#grafico con la edad y la media de conversiÃ³n

df[df['age'] > 20]['Conversion Rate'].mean()

4.191967019624058

In [168]:
#grafico con la edad y la media de conversiÃ³n

df[df['lang_count'] > 4]['Conversion Rate'].mean()

4.308555350764941

In [170]:
#media de conversiÃ³n si estÃ¡ verificado o no

df[df['verified'] == 0]['Conversion Rate'].mean()

4.243989472071019

In [172]:
#media de conversiÃ³n si deja compartir su perfil con terceros

df[df['shareProfileEnabled'] == 1]['Conversion Rate'].mean()

4.144106829085316

In [178]:
#analizar por idioma

df[df['lang_fr'] == 0]['Conversion Rate'].mean()

3.6067002054617308

In [180]:
df[df['lang_en'] == 1]['Conversion Rate'].mean()

3.8947044408100036